src/*.exe
src/deracoin
src/deracoind
src/test_deracoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.deracoin

# Compilation and Qt preprocessor part
*.qm
Makefile
deracoin-qt
Deracoin-Qt.app

# Unit-tests
Makefile.test
deracoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
